<div class="home">
  <mat-toolbar>
    <h1>JW</h1>
    <span style="flex-grow: 1"></span>
    <a mat-button routerLink="/projects">Projects</a>
    <a mat-button>Design</a>
    <a mat-stroked-button href="#footer">Contact Me</a>
  </mat-toolbar>
  <section id="featured" class="first mat-typography">
    <div class="featured-header">
      <h1>Featured</h1>
      <h2>NgFlowchart</h2>
    </div>

    <div class="featured-content">
      <div class="featured-video">
        <video [muted]="true" autoplay playsinline loop style="height: 300px">
          <source src="assets/ng-flowchart.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
      <span style="flex-grow: 1"></span>
      <div class="featured-info">
        <p class="featured-description">
          A free lightweight Angular Library for building drag and drop flow
          charts.
          <br />Chart behavior and steps are customizable. Data can be exported
          or uploaded in json format.
        </p>
        <div style="display: flex">
          <a
            mat-flat-button
            id="github-btn"
            target="_blank"
            href="https://github.com/joel-wenzel/ng-flowchart/tree/master/projects/ng-flowchart"
            style="margin-right: 16px"
          >
            <mat-icon svgIcon="github" style="margin-right: 12px"></mat-icon>
            <span>GitHub</span>
          </a>
          <button
            mat-flat-button
            color="primary"
            routerLink="/projects/flowchart"
          >
            Try Demo
          </button>
        </div>
      </div>
      <span style="flex-grow: 1"></span>
    </div>
  </section>
  <section id="about-me" class="mat-typography">
    <div class="image-container">
      <div class="image-inner-container">
        <img
          src="assets/images/joel-wenzel.jpg"
          alt="Joel Wenzel"
          id="personal-image"
        />
      </div>
    </div>
    <div class="about-container">
      <p class="about-text">
        An accomplished full stack software engineer from Titletown, USA. Plays
        in the DevOps space by day and front end development by night.
      </p>
    </div>
  </section>
  <section id="footer" class="mat-typography">
    <div class="marking">
      <h1>JW</h1>
      <span class="copyright">©2021 Joel Wenzel</span>
    </div>

    <div class="contact-info">
      <a id="email" href="mailto:wenzje07@gmail.com">wenzje07@gmail.com</a>
      <div>
        <a class="link" target="_blank" href="https://github.com/joel-wenzel">
          <mat-icon svgIcon="github"></mat-icon>
          <span>Github</span>
        </a>
        <a
          class="link"
          target="_blank"
          href="https://www.linkedin.com/in/joel-wenzel-335ab762/"
        >
          <mat-icon svgIcon="linkedin" style="color: #4883be"></mat-icon>
          <span>LinkedIn</span>
        </a>
      </div>
    </div>
  </section>
</div>
