div.home {
    width: 100%;

    & section:nth-child(odd) {
        background: #f0f0f0;
    }
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.7em;
    color: #55efc4;
}

mat-toolbar {
    & a {
        margin: 0 1em;
        text-transform: uppercase;
        font-size: 0.8em;
        letter-spacing: 1px;
    }
}


section#about-me {
    display: grid;
    place-items: center;
}

section#featured {
    color: white;

    & .featured-header {
        margin: 3em 0 0 6em;

        & h1 {
            font-family: Roboto, "Poppins", sans-serif;
            font-size: 2em;
            color: #aaa8a8;
        }

        & h2 {
            font-size: 2.5em;
            letter-spacing: 1px;
        }
    }

    & .featured-content {
        display: flex;
        flex-direction: row;

        margin: 6em;
    }

    & .featured-info {
        margin: 2em 0 0 4em;
        display: flex;
        flex-direction: column;

        & p {
            font-size: 1.3em;
            line-height: 1.6em;
            color: #f0f0f0;
        }
    }
}

#github-btn {
    background-color: #f0f0f0;
    color: black;
}

section {
    height: 100vh;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-x: hidden;

    &.first {
        height: calc(100vh - 64px);
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../assets/images/background2.jpg");
        background-size: cover;
    }

    &#footer {
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        & h1 {
            font-size: 6.5em;
        }
        height: 300px;
        background: #212121;

        & .contact-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 3em 10em;
        }

        & .marking {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 18em;
        }
    }
}

#email {
    font-size: 2em;
    color: white;
    margin-bottom: 1em;
    text-decoration: none;
}
.link {
    font-size: 1.6em;

    & mat-icon {
        height: auto;
        width: 36px;
    }
}

.copyright {
    margin-top: 1em;
    font-size: 1.2em;
    color: darkgrey;
}
